.left-sidebar .calendar_container .calendar_title {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.right_sidebar #image_upload_form button, .right_sidebar #log_out_form button {
  background-color: #e51212;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #FFF;
}

.right_sidebar #image_upload_form button:hover, .right_sidebar #log_out_form button:hover {
  background-color: #fc3f45;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right_sidebar #image_upload_form button:focus, .right_sidebar #log_out_form button:focus {
  outline: none !important;
  background-color: #fc3f45 !important;
}

.main .user .controls #control_form #visit, .main .user .controls #control_form #edit {
  position: relative;
  display: block;
  width: 75%;
  margin: 5px auto;
  font-size: 14px;
}

.left-sidebar .calendar_container .calendar_title #prev, .left-sidebar .calendar_container .calendar_title #next {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left-sidebar .calendar_container .calendar_title #prev:hover, .left-sidebar .calendar_container .calendar_title #next:hover {
  color: #dbdbdb;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-form {
  position: relative;
  top: 50px;
  font-family: "Montserrat", sans-serif;
}

.login-form .registrate {
  float: right;
}

.error {
  position: relative;
  display: block;
  width: 30%;
  margin: 0 auto;
  top: 50px;
  font-family: "Montserrat", sans-serif;
}

.right_sidebar {
  width: 98%;
  margin: 0px auto;
  margin-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  border-radius: 3px;
  background-color: #FFF;
  text-align: center;
}

.right_sidebar h3 {
  margin: 0;
  padding: 2%;
  background-color: #EA2027;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  border-radius: 3px 3px 0px 0px;
}

.right_sidebar p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 3%;
  padding: 0;
}

.right_sidebar .image_container {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto;
}

.right_sidebar .image_container img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 5px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
}

.right_sidebar .image_container #edit {
  position: absolute;
  display: inline-block;
  bottom: 0;
  border: none;
  right: 0;
  margin: 4px;
  padding: 2px;
  cursor: pointer;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right_sidebar .image_container #edit:hover {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right_sidebar .image_container #edit:focus {
  outline: none;
}

.right_sidebar #image_upload_form #file_upload {
  display: none;
}

.left-sidebar {
  width: 98%;
  margin: 0px auto;
  margin-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  border-radius: 3px;
  background-color: #FFF;
  text-align: center;
}

.left-sidebar .calendar_container .calendar_title {
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  margin: 0;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  background-color: #EA2027;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.left-sidebar .calendar_container #calendar {
  position: relative;
  display: block;
  width: 98%;
  margin: 1%;
}

.left-sidebar .calendar_container #calendar tbody {
  position: relative;
  display: block;
  width: 100%;
}

.left-sidebar .calendar_container #calendar tbody #header {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  background-color: #fc3f45;
}

.left-sidebar .calendar_container #calendar tbody #header th {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 13%;
  margin: 0.5%;
  font-size: 22px;
  color: #FFF;
}

.left-sidebar .calendar_container #calendar tbody #header th:first-of-type {
  margin-left: 1.5%;
}

.left-sidebar .calendar_container #calendar tbody .weeks {
  position: relative;
  display: block;
  width: 100%;
}

.left-sidebar .calendar_container #calendar tbody .weeks td {
  display: inline-block;
  width: 13%;
  margin: 0.5%;
  background-color: #FFF;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

.left-sidebar .calendar_container #calendar tbody .weeks td .event {
  position: relative;
  display: block;
  top: -4px;
  visibility: hidden;
  padding-bottom: 0px;
  margin: -4px;
  font-size: 16px;
  color: #fc3f45;
}

.left-sidebar .calendar_container #calendar tbody .weeks .no_date {
  visibility: hidden;
}

.main {
  position: relative;
  display: inline-block;
  width: 98%;
  padding: 1%;
}

.main .user {
  position: relative;
  display: block;
  float: left;
  width: 18%;
  margin: 1%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  border-radius: 3px;
}

.main .user .user_image {
  position: relative;
  width: 98%;
  margin: 1%;
}

.main .user .user_image img {
  width: 100%;
}

.main .user .user_details {
  display: block;
  padding: 0;
  margin: 0;
}

.main .user .user_details .user_name {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 4px;
  font-size: 20px;
}

.main .user .controls {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

.main .user .controls #control_form {
  position: relative;
  display: inline-block;
  width: 98%;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */