.left-sidebar .calendar_container .calendar_title {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.send_message_container .send_message_form .button_container .send, .sent_message_container .messages .close_sent_messages, .preview_container .preview .close_users, .login-form .button_container .registrate_user, .registration-form .button_container .registrate_user, .login-form .button_container .login, .registration-form .button_container .login, .right_sidebar #image_upload_form button, .right_sidebar #edit_profile_form button, .right_sidebar #log_out_form button, .main .message_container .sent_message, .main .message_container .send_message, .main .edit_profile_container .edit_profile .default_button, .main .user .controls #control_form #visit, .main .user .controls #control_form #edit, .main .profile .delete_user button {
  background-color: #e51212;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #FFF;
}

.send_message_container .send_message_form .button_container .send:hover, .sent_message_container .messages .close_sent_messages:hover, .preview_container .preview .close_users:hover, .login-form .button_container .registrate_user:hover, .registration-form .button_container .registrate_user:hover, .login-form .button_container .login:hover, .registration-form .button_container .login:hover, .right_sidebar #image_upload_form button:hover, .right_sidebar #edit_profile_form button:hover, .right_sidebar #log_out_form button:hover, .main .message_container .sent_message:hover, .main .message_container .send_message:hover, .main .edit_profile_container .edit_profile .default_button:hover, .main .user .controls #control_form #visit:hover, .main .user .controls #control_form #edit:hover, .main .profile .delete_user button:hover {
  background-color: #fc3f45;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.send_message_container .send_message_form .button_container .send:focus, .sent_message_container .messages .close_sent_messages:focus, .preview_container .preview .close_users:focus, .login-form .button_container .registrate_user:focus, .registration-form .button_container .registrate_user:focus, .login-form .button_container .login:focus, .registration-form .button_container .login:focus, .right_sidebar #image_upload_form button:focus, .right_sidebar #edit_profile_form button:focus, .right_sidebar #log_out_form button:focus, .main .message_container .sent_message:focus, .main .message_container .send_message:focus, .main .edit_profile_container .edit_profile .default_button:focus, .main .user .controls #control_form #visit:focus, .main .user .controls #control_form #edit:focus, .main .profile .delete_user button:focus {
  outline: none !important;
  background-color: #fc3f45 !important;
}

.main .user .controls #control_form #visit, .main .user .controls #control_form #edit {
  position: relative;
  display: block;
  width: 75%;
  margin: 5px auto;
  font-size: 14px;
}

.left-sidebar .calendar_container .calendar_title #prev, .left-sidebar .calendar_container .calendar_title #next {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.left-sidebar .calendar_container .calendar_title #prev:hover, .left-sidebar .calendar_container .calendar_title #next:hover {
  color: #dbdbdb;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body {
  background-image: url("/images/background.png");
}

.send_message_container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.send_message_container .send_message_form {
  position: relative;
  top: 100px;
  width: 50%;
  padding: 5px;
  margin: 0 auto;
  background-color: #FFF;
  font-family: "Montserrat", sans-serif;
}

.send_message_container .send_message_form .retrieved_users {
  width: 100%;
  display: inline-block;
}

.send_message_container .send_message_form .retrieved_users .user {
  float: left;
  width: 14%;
  margin: 1%;
  padding: 3px;
  cursor: pointer;
}

.send_message_container .send_message_form .retrieved_users .user:first-of-type {
  margin-left: 2%;
}

.send_message_container .send_message_form .retrieved_users .user img {
  width: 100%;
}

.send_message_container .send_message_form .retrieved_users .user p {
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.send_message_container .send_message_form .retrieved_users .user span {
  display: none;
}

.send_message_container .send_message_form #message_content {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  resize: none;
}

.send_message_container .send_message_form .button_container {
  display: block;
  width: 100%;
  margin: 0px auto;
  padding-top: 10px;
}

.send_message_container .send_message_form .button_container .cancel {
  float: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 1px 0px #666;
          box-shadow: 0px 0px 1px 0px #666;
  background-color: #FFF;
}

.send_message_container .send_message_form .button_container .cancel:hover {
  background-color: #dbdbdb;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.send_message_container .send_message_form .button_container .cancel:active {
  background-color: #dbdbdb;
  outline: none;
  border: none;
}

.sent_message_container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.sent_message_container .messages {
  position: relative;
  top: 100px;
  width: 50%;
  padding: 5px;
  margin: 0 auto;
  background-color: #FFF;
  font-family: "Montserrat", sans-serif;
}

.sent_message_container .messages .message {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  margin-bottom: 10px;
}

.sent_message_container .messages .message h1 {
  width: 100%;
  background-color: #EA2027;
  padding: 5px;
  margin: 0;
  font-size: 30px;
  text-align: center;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
}

.sent_message_container .messages .message p {
  margin: 5px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.sent_message_container .messages .close_sent_messages {
  margin-top: 5px;
  display: block;
  clear: both;
}

.preview_container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.preview_container .preview {
  position: relative;
  width: 50%;
  top: 100px;
  display: table;
  margin: 0 auto;
  z-index: 2;
  background-color: #FFF;
}

.preview_container .preview .user {
  position: relative;
  display: block;
  float: left;
  width: 31%;
  margin: 1%;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  border-radius: 3px;
}

.preview_container .preview .user .user_image {
  position: relative;
  width: 98%;
  margin: 1%;
}

.preview_container .preview .user .user_image img {
  width: 100%;
}

.preview_container .preview .user .user_details {
  display: block;
  padding: 0;
  margin: 0;
}

.preview_container .preview .user .user_details p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 2px;
  font-size: 16px;
  margin: 0;
}

.preview_container .preview .close_users {
  clear: both;
  float: right;
  margin: 2%;
}

.notification {
  position: absolute;
  display: none;
  width: 20%;
  top: 5px;
  right: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px #FF0000;
          box-shadow: 0px 0px 3px 0px #FF0000;
  background-color: #FFF;
  z-index: 3;
  border-radius: 3px;
}

.notification .message_container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.notification .message_container .close {
  position: relative;
  display: block;
  float: right;
  top: -10px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  color: #FF0000;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.notification .message_container .close:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.notification .message_container .message {
  width: 95%;
  margin: 5px;
}

.notification .message_container .message p {
  text-align: left;
  margin: 10px;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #4f4e4e;
}

.navbar {
  position: relative;
  display: block;
  width: 60%;
  margin: 0px auto;
  border: none;
  margin-top: 5px;
}

.navbar .container-fluid {
  padding: 0;
  margin: 0;
}

.navbar .container-fluid .collapse, .navbar .container-fluid .in, .navbar .container-fluid .navbar-collapse {
  padding: 0;
}

.navbar .container-fluid .collapse ul, .navbar .container-fluid .in ul, .navbar .container-fluid .navbar-collapse ul {
  height: auto;
  width: 100%;
  margin: 0;
  background-color: #fc3f45;
}

.navbar .container-fluid .collapse ul .active a, .navbar .container-fluid .in ul .active a, .navbar .container-fluid .navbar-collapse ul .active a {
  background-color: #EA2027 !important;
}

.navbar .container-fluid .collapse ul li, .navbar .container-fluid .in ul li, .navbar .container-fluid .navbar-collapse ul li {
  width: 18%;
  margin: 1%;
  padding: 0;
}

.navbar .container-fluid .collapse ul li a, .navbar .container-fluid .in ul li a, .navbar .container-fluid .navbar-collapse ul li a {
  height: auto;
  font-size: 18px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #FFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .container-fluid .collapse ul li a:hover, .navbar .container-fluid .in ul li a:hover, .navbar .container-fluid .navbar-collapse ul li a:hover {
  background-color: #EA2027;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .container-fluid .collapse ul li a span, .navbar .container-fluid .in ul li a span, .navbar .container-fluid .navbar-collapse ul li a span {
  margin-right: 5px;
  font-size: 18px;
}

.row {
  margin-top: 5px;
}

.row .left {
  padding-right: 0;
}

.row .right {
  padding-left: 0;
}

.login-form, .registration-form {
  position: relative;
  top: 100px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  background-color: rgba(100, 100, 100, 0.4);
  padding: 20px;
  border-radius: 3px;
}

.login-form .form-group, .registration-form .form-group {
  display: block;
  width: 80%;
  margin: 10px auto;
}

.login-form .form-group input, .registration-form .form-group input {
  font-family: "Montserrat", sans-serif;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-form .form-group input:focus, .registration-form .form-group input:focus {
  -webkit-box-shadow: 0px 0px 3px 1px #000;
          box-shadow: 0px 0px 3px 1px #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-form .button_container, .registration-form .button_container {
  display: block;
  width: 80%;
  margin: 0px auto;
  padding-top: 10px;
}

.login-form .button_container .registrate, .registration-form .button_container .registrate {
  float: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  outline: none;
  background-color: #FFF;
}

.login-form .button_container .registrate:hover, .registration-form .button_container .registrate:hover {
  background-color: #dbdbdb;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-form .button_container .registrate:active, .registration-form .button_container .registrate:active {
  background-color: #dbdbdb;
  outline: none;
  border: none;
}

.login-form .button_container .registrate a, .registration-form .button_container .registrate a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #000;
}

.error {
  position: relative;
  display: block;
  width: 30%;
  margin: 0 auto;
  top: 50px;
  font-family: "Montserrat", sans-serif;
}

.right_sidebar {
  width: 98%;
  margin: 0px auto;
  margin-top: 5px;
  margin-left: 0;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  border-radius: 3px;
  border-top-left-radius: 0px;
  background-color: #FFF;
  text-align: center;
}

.right_sidebar h3 {
  margin: 0;
  padding: 2%;
  background-color: #EA2027;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  border-radius: 3px 3px 0px 0px;
  border-top-left-radius: 0px;
}

.right_sidebar p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 3%;
  padding: 0;
}

.right_sidebar .image_container {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto;
}

.right_sidebar .image_container img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 5px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
}

.right_sidebar .image_container #edit {
  position: absolute;
  display: inline-block;
  bottom: 0;
  border: none;
  right: 0;
  margin: 4px;
  padding: 2px;
  cursor: pointer;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right_sidebar .image_container #edit:hover {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.right_sidebar .image_container #edit:focus {
  outline: none;
}

.right_sidebar #image_upload_form #file_upload {
  display: none;
}

.right_sidebar #edit_profile_form {
  margin: 5px 0;
}

.right_sidebar #edit_profile_form input {
  display: none;
}

.left-sidebar {
  width: 98%;
  margin: 0px auto;
  margin-top: 5px;
  margin-right: 0;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  border-radius: 3px;
  border-top-right-radius: 0px;
  background-color: #FFF;
  text-align: center;
}

.left-sidebar .calendar_container .calendar_title {
  width: 100%;
  text-align: center;
  padding: 5px 0px;
  margin: 0;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  background-color: #EA2027;
  border-top-left-radius: 3px;
  border-top-right-radius: 0px;
}

.left-sidebar .calendar_container #calendar {
  position: relative;
  display: block;
  width: 98%;
  margin: 1%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
}

.left-sidebar .calendar_container #calendar tbody {
  position: relative;
  display: block;
  width: 100%;
}

.left-sidebar .calendar_container #calendar tbody #header {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  background-color: #fc3f45;
}

.left-sidebar .calendar_container #calendar tbody #header th {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  height: 30px;
  line-height: 30px;
  width: 13%;
  margin: 0.5%;
  font-size: 22px;
  color: #FFF;
}

.left-sidebar .calendar_container #calendar tbody #header th:first-of-type {
  margin-left: 1.5%;
}

.left-sidebar .calendar_container #calendar tbody .weeks {
  position: relative;
  display: block;
  width: 100%;
}

.left-sidebar .calendar_container #calendar tbody .weeks td {
  display: inline-block;
  width: 13%;
  margin: 0.5%;
  font-family: "Montserrat", sans-serif;
  background-color: #FFF;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

.left-sidebar .calendar_container #calendar tbody .weeks td .event {
  position: relative;
  display: block;
  top: -4px;
  visibility: hidden;
  padding-bottom: 0px;
  margin: -4px;
  font-size: 16px;
  color: #fc3f45;
}

.left-sidebar .calendar_container #calendar tbody .weeks .no_date {
  visibility: hidden;
}

.main {
  display: block;
  background-color: rgba(100, 100, 100, 0.4);
  margin: 0 auto;
  margin-top: 5px;
}

.main .message_container {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  background-color: #FFF;
  font-family: "Montserrat", sans-serif;
}

.main .message_container .sent_message {
  float: left;
  margin: 5px;
  font-size: 16px;
}

.main .message_container .sent_message span {
  margin: 5px;
  margin-left: 0;
}

.main .message_container .send_message {
  float: right;
  margin: 5px;
  font-size: 16px;
}

.main .message_container .send_message span {
  margin: 5px;
  margin-left: 0;
}

.main .message_container .all_messages {
  clear: both;
  padding: 5px;
}

.main .message_container .all_messages .message {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  margin-bottom: 10px;
}

.main .message_container .all_messages .message h1 {
  width: 100%;
  background-color: #EA2027;
  padding: 5px;
  margin: 0;
  font-size: 30px;
  text-align: center;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
}

.main .message_container .all_messages .message p {
  margin: 5px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.main .edit_profile_container {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  border-radius: 3px;
  margin: 1%;
  background-color: #FFF;
}

.main .edit_profile_container h1 {
  text-align: center;
  border-radius: 3px 3px 0px 0px;
  margin: 0;
  padding: 5px;
  background-color: #fc3f45;
  color: #FFF;
}

.main .edit_profile_container .edit_profile {
  margin: 5px;
  padding-bottom: 5px;
}

.main .edit_profile_container .edit_profile #profile_id {
  display: none;
}

.main .edit_profile_container .edit_profile input:active {
  border-color: #fc3f45;
}

.main .edit_profile_container .edit_profile input:focus {
  border-color: #fc3f45;
  -webkit-box-shadow: 0px 0px 3px 0px #fc3f45;
          box-shadow: 0px 0px 3px 0px #fc3f45;
}

.main .edit_profile_container .edit_profile select:active {
  border-color: #fc3f45;
}

.main .edit_profile_container .edit_profile select:focus {
  border-color: #fc3f45;
  -webkit-box-shadow: 0px 0px 3px 0px #fc3f45;
          box-shadow: 0px 0px 3px 0px #fc3f45;
}

.main .edit_profile_container .edit_profile .default_button {
  display: block;
  margin: 0 auto;
}

.main .user {
  position: relative;
  display: block;
  float: left;
  width: 31%;
  margin: 1%;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  border-radius: 3px;
}

.main .user .user_image {
  position: relative;
  width: 98%;
  margin: 1%;
}

.main .user .user_image img {
  width: 100%;
}

.main .user .user_details {
  display: block;
  padding: 0;
  margin: 0;
}

.main .user .user_details p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 2px;
  font-size: 16px;
  margin: 0;
}

.main .user .user_details p span {
  display: block;
}

.main .user .controls {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

.main .user .controls #control_form {
  position: relative;
  display: inline-block;
  width: 98%;
  margin: 0;
  padding: 0;
}

.main .user .controls #control_form #user_id {
  display: none;
}

.main .user .controls #control_form #visit {
  background-color: #878484;
  color: #FFF;
}

.main .user .controls #control_form #visit:hover {
  background-color: #565454;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .user .controls #control_form #visit:focus {
  background-color: #565454 !important;
}

.main .profile {
  width: 98%;
  margin: 1%;
  display: inline-block;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
}

.main .profile h1 {
  width: 100%;
  background-color: #fc3f45;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  margin: 0;
  padding: 4px;
}

.main .profile .profile_image {
  position: relative;
  width: 38%;
  margin: 1%;
  float: left;
  clear: right;
}

.main .profile .profile_image img {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  border-radius: 4px;
  width: 100%;
}

.main .profile .profile_details {
  position: relative;
  width: 58%;
  float: right;
  margin: 1%;
  padding: 5px;
}

.main .profile .profile_details ul {
  margin-left: 5px;
}

.main .profile .profile_details ul li {
  padding: 4px;
}

.main .profile .profile_details ul li p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #4f4e4e;
}

.main .profile .profile_details ul li p span {
  display: block;
}

.main .profile .delete_user {
  clear: both;
}

.main .profile .delete_user #user_id {
  display: none;
}

.main .profile .delete_user button {
  margin: 5px;
  font-size: 16px;
  float: right;
}
/*# sourceMappingURL=style.css.map */