$primary_color: #EA2027;
$secondary_color: #fc3f45;
$button-color:#e51212;
$primary_font: 'Montserrat', sans-serif;
$button_font: 'Roboto', sans-serif;
@mixin all-border-corners($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin top-border-corners($radius) {
    -webkit-border-radius: $radius $radius 0px 0px;
    -moz-border-radius: $radius $radius 0px 0px;
    -ms-border-radius: $radius $radius 0px 0px;
    border-radius: $radius $radius 0px 0px;
}
@mixin box-shadow() {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, .4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, .4);
    box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, .4);
}
%disable_text_selection{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
%default_button{
    background-color: $button-color;
    border: none;
    outline: none;
    transition: all 0.3s;
    color:#FFF;
    &:hover{
        background-color: $secondary_color;
        border:none;
        transition: all 0.3s;
    }
    &:focus{
        outline: none !important;
        background-color: $secondary_color !important;
    }
}
%control_button{
    position: relative;
    display: block;
    width:75%;
    margin:5px auto;
    font-size: 14px;
}
%prev_next{
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        color:#dbdbdb;
        transition: all 0.3s;
    }
}
.login-form{
    position: relative;
    top:50px;
    font-family: $primary_font;
    .registrate{
        float:right;
    }
}
.error{
    position: relative;
    display: block;
    width:30%;
    margin:0 auto;
    top:50px;
    font-family: $primary_font;
}
.right_sidebar{
    width:98%;
    margin:0px auto;
    margin-top:5px;
    padding-bottom: 5px;
    @include box-shadow();
    @include all-border-corners(3px);
    background-color: #FFF;
    text-align: center;
    h3{
        margin:0;
        padding: 2%;
        background-color:$primary-color;
        font-family: $primary-font;
        color:#FFF;
        @include top-border-corners(3px);
    }
    p{
        font-family: $primary-font;
        font-size:20px;
        margin:3%;
        padding: 0;
    }
    .image_container{
        position: relative;
        display: block;
        width:70%;
        margin:0 auto;
        img{
            display: block;
            width:100%;
            height:100%;
            margin:5px auto;
            transition: all 0.3s;
            cursor: pointer;
            @include all-border-corners(10px);
            @include box-shadow();
        }
        #edit{
            position: absolute;
            display: inline-block;
            bottom: 0;
            border:none;
            right: 0;
            margin: 4px;
            padding: 2px;
            cursor: pointer;
            color:#FFF;
            font-family: $button_font;
            font-size: 18px;
            background-color:rgba(0, 0, 0, .3);
            @include all-border-corners(3px);
            transition: all 0.3s;
            &:hover{
                background-color:rgba(0, 0, 0, .2);
                transition: all 0.3s;
            }
            &:focus{
                outline:none;
            }
        }
    }
    #image_upload_form{
        #file_upload{
            display: none;
        }
        button{
            @extend %default_button;
        }
    }
    #log_out_form{
        button{
            @extend %default_button;
        }
    }
}
.left-sidebar{
    width:98%;
    margin:0px auto;
    margin-top:5px;
    padding-bottom: 5px;
    @include box-shadow();
    @include all-border-corners(3px);
    background-color: #FFF;
    text-align: center;
    .calendar_container{
        .calendar_title{
            width:100%;
            text-align: center;
            padding: 5px 0px;
            margin: 0;
            font-size:22px;
            font-family: $primary_font;
            color:#FFF;
            background-color: $primary_color;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            @extend %disable_text_selection;
            #prev{
                @extend %prev_next;
            }
            #next{
                @extend %prev_next;
            }
        }
        #calendar{
            position:relative;
            display:block;
            width:98%;
            margin:1%;
            tbody{
                position:relative;
                display:block;
                width:100%;
                #header{
                    position:relative;
                    display:block;
                    width:100%;
                    height:36px;
                    background-color:$secondary_color;
                    th{
                        display:inline-block;
                        height:30px;
                        line-height:30px;
                        width:13%;
                        margin:0.5%;
                        font-size:22px;
                        color:#FFF;
                        &:first-of-type{
                            margin-left:1.5%;
                        }
                    }
                }
                .weeks{
                    position:relative;
                    display:block;
                    width:100%;
                    td{
                        display:inline-block;
                        width:13%;
                        padding:0.5% 1% 0.5% 1%;
                        margin:0.5%;
                        background-color:#FFF;
                        text-align:center;
                        font-size:22px;
                        cursor:pointer;
                        .event{
                            display:block;
                            visibility:hidden;
                            padding:0;
                            margin:0;
                            font-size:14px;
                            color:$secondary_color;
                        }
                        &::first-of-type{
                            margin-left:1.5%;
                        }
                    }
                    .no_date{
                        visibility:hidden;
                    }
                }
            }
        }
    }
}
.main{
    position: relative;
    display: inline-block;
    width: 98%;
    padding: 1%;
    .user{
        position: relative;
        display: block;
        float: left;
        width:18%;
        margin:1%;
        @include box-shadow();
        @include all-border-corners(3px);
        .user_image{
            position: relative;
            width:98%;
            margin: 1%;
            img{
                width: 100%;
            }
        }
        .user_details{
            display: block;
            padding: 0;
            margin: 0;
            .user_name{
                text-align: center;
                font-family:$primary_font;
                padding: 4px;
                font-size: 20px;
            }
        }
        .controls{
            position: relative;
            display: block;
            padding: 0;
            margin: 0;
            #control_form{
                position: relative;
                display: inline-block;
                width:98%;
                margin:0;
                padding: 0;
                #visit{
                    @extend %control_button;
                }
                #edit{
                    @extend %control_button;
                }
            }
        }
    }
}