$primary_color: #EA2027;
$secondary_color: #fc3f45;
$button-color:#e51212;
$primary_font: 'Montserrat', sans-serif;
$button_font: 'Roboto', sans-serif;
@mixin all-border-corners($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin top-border-corners($radius) {
    -webkit-border-radius: $radius $radius 0px 0px;
    -moz-border-radius: $radius $radius 0px 0px;
    -ms-border-radius: $radius $radius 0px 0px;
    border-radius: $radius $radius 0px 0px;
}
@mixin box-shadow() {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, .4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, .4);
    box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, .4);
}
%default_button{
    background-color: $button-color;
    border: none;
    outline: none;
    transition: all 0.3s;
    color:#FFF;
    &:hover{
        background-color: $secondary_color;
        border:none;
        transition: all 0.3s;
    }
    &:focus{
        outline: none !important;
        background-color: $secondary_color !important;
    }
}
.login-form{
    position: relative;
    top:50px;
    font-family: $primary_font;
    .registrate{
        float:right;
    }
}
.error{
    position: relative;
    display: block;
    width:30%;
    margin:0 auto;
    top:50px;
    font-family: $primary_font;
}
.right-sidebar{
    width:98%;
    margin:0px auto;
    margin-top:5px;
    padding-bottom: 5px;
    @include box-shadow();
    @include all-border-corners(3px);
    background-color: #FFF;
    text-align: center;
    h3{
        margin:0;
        padding: 2%;
        background-color:$primary-color;
        font-family: $primary-font;
        color:#FFF;
        @include top-border-corners(3px);
    }
    p{
        font-family: $primary-font;
        font-size:20px;
        margin:3%;
        padding: 0;
    }
    .image_container{
        position: relative;
        display: block;
        width:70%;
        margin:0 auto;
        img{
            display: block;
            width:100%;
            height:100%;
            margin:5px auto;
            transition: all 0.3s;
            cursor: pointer;
            @include all-border-corners(10px);
            @include box-shadow();
        }
        #edit{
            position: absolute;
            display: inline-block;
            bottom: 0;
            border:none;
            right: 0;
            margin: 4px;
            padding: 2px;
            cursor: pointer;
            color:#FFF;
            font-family: $button_font;
            font-size: 18px;
            background-color:rgba(0, 0, 0, .3);
            @include all-border-corners(3px);
            transition: all 0.3s;
            &:hover{
                background-color:rgba(0, 0, 0, .2);
                transition: all 0.3s;
            }
            &:focus{
                outline:none;
            }
        }
    }
    #image_upload_form{
        #file_upload{
            display: none;
        }
        button{
            @extend %default_button;
        }
    }
    #log_out_form{
        button{
            @extend %default_button;
        }
    }
}